Package: com.rov3r.scmusicplus
Name: SCMusicPlus
Author: Rov3r
Description: Enhance your SoundCloud experience
Depiction: https://rov3r.github.io/depictions/scmusicplus.html
SileoDepiction: https://rov3r.github.io/depictions/sileo/scmusicplus.json
Depends: mobilesubstrate (>= 0.9.5000)
Maintainer: Rov3r <rov3rrepo@pm.me>
Architecture: iphoneos-arm
Section: Tweaks
Version: 24.9.1-1
